/* Estilos Generales */

* {
    padding: 0px;
    margin: 0px;
}

.container {
    max-width: 90%;
    max-height: 100%;
    min-height: 600px;
    background-color: beige;
    margin: 0px auto 0px auto;
}

#logo {
    margin: 10px auto 10px auto;
    text-align: center;
}

.footer {
    text-align: center;
}

.footer img {
    width: 90%;
    padding: 15px;
}


/* Estilos de Splash */

.splash img {
    width: 90%;
}


/* Estilos de Mapa */

#map-canvas {
    height: 300px;
    max-width: 100%;
    border: none;
    margin-left: 10px;
    margin-top: 10px;
}

.controls {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    height: 29px;
    margin-left: 10px;
    margin-top: 10px;
    outline: none;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

.controls:focus {
    border-color: #4d90fe;
}

.title {
    font-weight: bold;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}


/* Estilos de search */

#search {
    height: 120px;
    text-align: center;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
    font-size: 16px;
}

.output {
    font-size: 1rem;
}

input {
    margin: .4rem;
    font-size: 16px;
}